fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
opencv-python
mediapipe
tensorflow
numpy
pydantic
pydantic-settings
pytest
httpx
requests
python-dotenv
